In [7]:
%pylab inline
%matplotlib inline

#在开头添加pylab的内嵌语句，pylab是 Matplotlib 和Ipython提供的一个模块，提供了类似Matlab的语法。

import os

Populating the interactive namespace from numpy and matplotlib

# 数据存入文件

## pickle

pickle是标准库中的一个模块，还有跟它完全一样的叫做cpickle，两者的区别就是后者更快。

In [8]:
import pickle

integers = [1, 2, 3, 4, 5]
f = open("22901.dat", "wb")
pickle.dump(integers, f)
f.close()

用pickle.dump(integers, f)将数据integers保存到了文件22901.dat中。这个步骤，可以称之为将对象序列化。

pickle.dump(obj,file[,protocol])

* obj：序列化对象，上面的例子中是一个列表，它是基本类型，也可以序列化自己定义的类型。
* file：一般情况下是要写入的文件。更广泛地可以理解为为拥有write()方法的对象，并且能接受字符串为为参数，所以，它还可以是一个StringIO对象，或者其它自定义满足条件的对象。
* protocol：可选项。默认为False（或者说0），是以ASCII格式保存对象；如果设置为1或者True，则以压缩的二进制格式保存对象。

In [12]:
d = {}
integers = range(9999)
d["i"] = integers

f = open("22902.dat", "wb")
pickle.dump(d, f)    # 将这个dict格式的对象存入文件
f.close()            # #文件中以ascii格式保存数据

In [13]:
f = open("22903.dat", "wb")
pickle.dump(d, f, True)   # 文件中以二进制格式保存数据
f.close()

In [14]:
s1 = os.stat("22902.dat").st_size
s2 = os.stat("22903.dat").st_size

print("%d, %d, %.2f%%" % (s1, s2, (s2+0.0)/s1*100))

46, 49, 106.52%

存入文件，仅是一个目标，还有另外一个目标，就是要读出来，也称之为反序列化。

In [15]:
integers = pickle.load(open("22901.dat", "rb"))
print(integers)

[1, 2, 3, 4, 5]

In [16]:
f = open("22903.dat", "rb")
d = pickle.load(f)
print(d)
f.close()

{'i': range(0, 9999)}

# Pandas

Pandas是基于NumPy的一个非常好用的库

基本的数据结构

Pandas有两种自己独有的基本数据结构。读者应该注意的是，它固然有着两种数据结构，因为它依然是python的一个库，所以，python中有的数据类型在这里依然适用，也同样还可以使用类自己定义数据类型。只不过，Pandas里面又定义了两种数据类型：Series和DataFrame

In [17]:
from pandas import Series, DataFrame
import pandas as pd

Series就如同列表一样，一系列数据，每个数据对应一个索引值。

In [18]:
s = Series([100,"PYTHON","Soochow","Qiwsir"])
s

0        100
1     PYTHON
2    Soochow
3     Qiwsir
dtype: object

实质上创建了一个Series对象，这个对象当然就有其属性和方法了。比如，下面的两个属性依次可以显示Series对象的数据值和索引

In [19]:
s.values

array([100, 'PYTHON', 'Soochow', 'Qiwsir'], dtype=object)

In [20]:
s.index

RangeIndex(start=0, stop=4, step=1)

第一种方法，定义Series对象的时候，用的是列表，即Series()方法的参数中，第一个列表就是其数据值，如果需要定义index，放在后面，依然是一个列表。

In [24]:
s2 = Series([100,"PYTHON","sOOCHOW","QISIR"],index=["mark","title","university","name"])
s2

mark              100
title          PYTHON
university    sOOCHOW
name            QISIR
dtype: object

In [26]:
s2.index

# 自定义索引，的确比较有意思。

# 每个元素都有了索引，就可以根据索引操作元素了。

Index(['mark', 'title', 'university', 'name'], dtype='object')

第二种方法用字典定义Series对象

In [29]:
sd = {"python":8000,"C++":8100,"C#":4000}
s4 = Series(sd)
s4

python    8000
C++       8100
C#        4000
dtype: int64

In [32]:
s6 = Series(sd,index=["java","python","C++","C#"])
s6

# Pandas的优势在这里体现出来，如果自定义了索引，自定的索引会自动寻找原来的索引，
# 如果一样的，就取原来索引对应的值，这个可以简称为“自动对齐”。

java         NaN
python    8000.0
C++       8100.0
C#        4000.0
dtype: float64

在sd中，只有'python':8000, 'c++':8100, 'c#':4000，没有"java"，但是在索引参数中有，于是其它能够“自动对齐”的照搬原值，没有的那个"java"，依然在新Series对象的索引中存在，并且自动为其赋值NaN。在Pandas中，如果没有值，都对齐赋给NaN。

In [34]:
ilst = ["java","perl"]
s5 = Series(sd,index=ilst)
s5

# 新得到的Series对象索引与sd对象一个也不对应，所以都是NaN

java   NaN
perl   NaN
dtype: float64

In [35]:
# Pandas判断值是否为空。

pd.isnull(s6)

java       True
python    False
C++       False
C#        False
dtype: bool

In [36]:
pd.notnull(s6)

java      False
python     True
C++        True
C#         True
dtype: bool

In [38]:
# Series对象判断值是否为空。

s6.isnull()

java       True
python    False
C++       False
C#        False
dtype: bool

In [39]:
# 重新定义索引的名字

s6.index = ["p1","p2","p3","p4"]
s6

p1       NaN
p2    8000.0
p3    8100.0
p4    4000.0
dtype: float64

In [42]:
s3 = Series([3,9,4,7],index=['a','b','c','d'])
s3

a    3
b    9
c    4
d    7
dtype: int64

In [43]:
s3[s3>5]

b    9
d    7
dtype: int64

In [45]:
s3*5

a    15
b    45
c    20
d    35
dtype: int64

In [46]:
s5 + s6

java   NaN
p1     NaN
p2     NaN
p3     NaN
p4     NaN
perl   NaN
dtype: float64

## DataFrame

DataFrame是一种二维的数据结构，非常接近于电子表格或者类似mysql数据库的形式。它的竖行称之为columns，横行跟前面的Series一样，称之为index，也就是说可以通过columns和index来确定一个主句的位置。（有人把 DataFrame翻译为“数据框”，是不是还可以称之为“筐”呢？向里面装数据嘛。)

In [47]:
data = {"name":["yahoo","google","facebook"], "marks":[200,400,800], "price":[9, 3, 7]}
f1 = DataFrame(data)
f1

       name  marks  price
0     yahoo    200      9
1    google    400      3
2  facebook    800      7

这是定义一个DataFrame对象的常用方法——使用dict定义。字典的“键”（"name"，"marks"，"price"）就是DataFrame的columns的值（名称），字典中每个“键”的“值”是一个列表，它们就是那一竖列中的具体填充数据。上面的定义中没有确定索引，所以，按照惯例（Series中已经形成的惯例）就是从0开始的整数。从上面的结果中很明显表示出来，这就是一个二维的数据结构（类似excel或者mysql中的查看效果）。

In [48]:
f2 = DataFrame(data, columns=['name','price','marks']) 
f2

       name  price  marks
0     yahoo      9    200
1    google      3    400
2  facebook      7    800

In [50]:
f3 = DataFrame(data, columns=['name', 'price', 'marks', 'debt'], index=['a','b','c'])
f3

       name  price  marks debt
a     yahoo      9    200  NaN
b    google      3    400  NaN
c  facebook      7    800  NaN

In [51]:
# 定义DataFrame的方法，除了上面的之外，还可以使用“字典套字典”的方式。

newdata = {"lang":{"firstline":"python","secondline":"java"}, "price":{"firstline":8000}}
f4 = DataFrame(newdata) 
f4

# 在字典中就规定好数列名称（第一层键）和每横行索引（第二层字典键）以及对应的数据（第二层字典值），
# 也就是在字典中规定好了每个数据格子中的数据，没有规定的都是空。

              lang   price
firstline   python  8000.0
secondline    java     NaN

In [52]:
DataFrame(newdata, index=["firstline","secondline","thirdline"])

              lang   price
firstline   python  8000.0
secondline    java     NaN
thirdline      NaN     NaN

In [53]:
f3.columns

Index(['name', 'price', 'marks', 'debt'], dtype='object')

DataFrame对象的columns属性，能够显示素有的columns名称。并且，还能用下面类似字典的方式，得到某竖列的全部内容（当然包含索引）

In [54]:
f3['name']

a       yahoo
b      google
c    facebook
Name: name, dtype: object

In [57]:
# 统一给那一列赋值

f3['debt'] = 89.2
f3

       name  price  marks  debt
a     yahoo      9    200  89.2
b    google      3    400  89.2
c  facebook      7    800  89.2

In [60]:
sdebt = Series([2.2, 3.3], index=["a","c"])
f3['debt'] = sdebt
f3

# 将Series对象(sdebt变量所引用) 赋给f3['debt']列，Pandas的一个重要特性——自动对齐——在这里起做用了，
# 在Series中，只有两个索引（"a","c"），它们将和DataFrame中的索引自动对齐。

       name  price  marks  debt
a     yahoo      9    200   2.2
b    google      3    400   NaN
c  facebook      7    800   3.3

In [61]:
f3["price"]["c"]= 300 
f3

/home/henry/anaconda3/envs/py36pt04/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       name  price  marks  debt
a     yahoo      9    200   2.2
b    google      3    400   NaN
c  facebook    300    800   3.3

# 读取csv文件

csv是一种通用的、相对简单的文件格式，在表格类型的数据中用途很广泛，很多关系型数据库都支持这种类型文件的导入导出，并且excel这种常用的数据表格也能和csv文件之间转换。

逗号分隔值（Comma-Separated Values，CSV，有时也称为字符分隔值，因为分隔字符也可以不是逗号），其文件以纯文本形式存储表格数据（数字和文本）。纯文本意味着该文件是一个字符序列，不含必须象二进制数字那样被解读的数据。CSV文件由任意数目的记录组成，记录间以某种换行符分隔；每条记录由字段组成，字段间的分隔符是其它字符或字符串，最常见的是逗号或制表符。通常，所有记录都有完全相同的字段序列。

In [66]:
with open("marks.csv") as f:
    # print("true")
    for line in f:
        print(line)

name,physics,python,math,english

Google,100,100,25,12

Facebook,45,54,44,88

Twitter,54,76,13,91

Yahoo,54,452,26,100

In [67]:
import csv
dir(csv)

['Dialect',
 'DictReader',
 'DictWriter',
 'Error',
 'OrderedDict',
 'QUOTE_ALL',
 'QUOTE_MINIMAL',
 'QUOTE_NONE',
 'QUOTE_NONNUMERIC',
 'Sniffer',
 'StringIO',
 '_Dialect',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 'excel',
 'excel_tab',
 'field_size_limit',
 'get_dialect',
 'list_dialects',
 're',
 'reader',
 'register_dialect',
 'unix_dialect',
 'unregister_dialect',
 'writer']

In [68]:
marks = pd.read_csv("./marks.csv")
marks

       name  physics  python  math  english
0    Google      100     100    25       12
1  Facebook       45      54    44       88
2   Twitter       54      76    13       91
3     Yahoo       54     452    26      100

In [69]:
 pd.read_table("./marks.csv", sep=",")

       name  physics  python  math  english
0    Google      100     100    25       12
1  Facebook       45      54    44       88
2   Twitter       54      76    13       91
3     Yahoo       54     452    26      100

In [70]:
marks.index

RangeIndex(start=0, stop=4, step=1)

In [71]:
marks.columns

Index(['name', 'physics', 'python', 'math', 'english'], dtype='object')

In [72]:
marks['name'][1]

'Facebook'

In [74]:
marks["physics"]

0    100
1     45
2     54
3     54
Name: physics, dtype: int64

In [78]:
marks.sort_values("python")

       name  physics  python  math  english
1  Facebook       45      54    44       88
2   Twitter       54      76    13       91
0    Google      100     100    25       12
3     Yahoo       54     452    26      100

In [79]:
marks[:1]

     name  physics  python  math  english
0  Google      100     100    25       12

当你已经掌握了通过dir()和help()查看对象的方法和属性时，就已经掌握了pandas的用法，其实何止pandas，其它对象都是如此。

## 读取其它格式数据

csv是常用来存储数据的格式之一，此外常用的还有MS excel格式的文件，以及json和xml格式的数据等。它们都可以使用pandas来轻易读取。

In [80]:
# sudo pip install openpyxl

xls = pd.ExcelFile("./marks.xlsx")

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

# 如何成为Python高手

这篇文章主要是对我收集的一些文章的摘要。因为已经有很多比我有才华的人写出了大量关于如何成为优秀Python程序员的好文章。

我的总结主要集中在四个基本题目上：

* 函数式编程，
* 性能，
* 测试，
* 编码规范。

如果一个程序员能将这四个方面的内容知识都吸收消化，那他/她不管怎样都会有巨大的收获。
函数式编程

命令式的编程风格已经成为事实上的标准。命令式编程的程序是由一些描述状态转变的语句组成。虽然有时候这种编程方式十分的有效，但有时也不尽如此(比如复杂性) ―― 而且，相对于声明式编程方式，它可能会显得不是很直观。

如果你不明白我究竟是在说什么，这很正常。这里有一些文章能让你脑袋开窍。但你要注意，这些文章有点像《骇客帝国》里的红色药丸 ―― 一旦你尝试过了函数式编程，你就永远不会回头了。

    http://www.amk.ca/python/writing/functional
    http://www.secnetix.de/olli/Python/lambda_functions.hawk
    http://docs.python.org/howto/functional.html

性能

你会看到有如此多的讨论都在批评这些“脚本语言”(Python，Ruby)是如何的性能低下，可是你却经常的容易忽略这样的事实：是程序员使用的算法导致了程序这样拙劣的表现。

这里有一些非常好的文章，能让你知道Python的运行时性能表现的细节详情，你会发现，通过这些精炼而且有趣的语言，你也能写出高性能的应用程序。而且，当你的老板质疑Python的性能时，你别忘了告诉他，这世界上第二大的搜索引擎就是用Python写成的 ―― 它叫做Youtube(参考Python摘录)

    http://jaynes.colorado.edu/PythonIdioms.html
    http://wiki.python.org/moin/PythonSpeed/PerformanceTips

测试

如今在计算机科学界，测试可能是一个最让人不知所措的主题了。有些程序员能真正的理解它，十分重视TDD(测试驱动开发)和它的后继者BDD(行为驱动开发)。而另外一些根本不接受，认为这是浪费时间。那么，我现在将告诉你：如果你不曾开始使用TDD/BDD，那你错过了很多最好的东西！

这并不只是说引入了一种技术，可以替换你的公司里那种通过愚蠢的手工点击测试应用程序的原始发布管理制度，更重要的是，它是一种能够让你深入理解你自己的业务领域的工具 ―― 真正的你需要的、你想要的攻克问题、处理问题的方式。如果你还没有这样做，请试一下。下面的这些文章将会给你一些提示：

    http://www.oreillynet.com/lpt/a/5463
    http://www.oreillynet.com/lpt/a/5584
    http://wiki.cacr.caltech.edu/danse/index.php/Unit_testing_and_Integration_testing
    http://docs.python.org/library/unittest.html

编码规范

并非所有的代码生来平等。有些代码可以被另外的任何一个好的程序员读懂和修改。但有些却只能被读，而且只能被代码的原始作者修改 ―― 而且这也只是在他或她写出了这代码的几小时内可以。为什么会这样？因为没有经过代码测试(上面说的)和缺乏正确的编程规范。

下面的文章给你描述了一个最小的应该遵守的规范合集。如果按照这些指导原则，你将能编写出更简洁和漂亮的代码。作为附加效应，你的程序会变得可读性更好，更容易的被你和任何其他人修改。

    http://www.python.org/dev/peps/pep-0008/
    http://www.fantascienza.net/leonardo/ar/python_best_practices.html

那就去传阅这这些资料吧。从坐在你身边的人开始。也许在下一次程序员沙龙或编程大会的时候，也已经成为一名Python编程高手了！

祝你学习旅途顺利。

In [1]:
752.64 * 3

2257.92

In [2]:
752.64 * 3 + 806.4 *2

3870.7200000000003

In [3]:
752.64 * 3 + 806.4 *2 + 737.28 * 2

5345.280000000001

In [4]:
752.64 * 3 + 806.4 *2 + 737.28 * 2 + 550

5895.280000000001

In [1]:
import time
seconds = 0.09452150570718866
m, s = divmod(seconds, 60)
print(s)

0.09452150570718866